<!-- https://www.tablesgenerator.com/html_tables# -->
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:2px 2px;
  word-break:normal;}
.tg .tg-nusu1{border-color:#0000FF;font-weight:bold;text-align:right;vertical-align:top;width: 120px;}
.tg .tg-nusu2{border-color:#00FFFF;text-align:right;vertical-align:top;}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-nusu1">5th %</td>
    <td class="tg-nusu2">{{df['pct_5'] | sdp.pretty_format}}</td>
    <td style="width: 50px"></td>
    <td class="tg-nusu1">CV</td>
    <td class="tg-nusu2">{{df['cv']|sdp.pretty_format}}</td>
  </tr>
  <tr>
    <td class="tg-nusu1">Mean</td>
    <td class="tg-nusu2">{{df['mean'] | sdp.pretty_format}}</td>
    <td></td>
    <td class="tg-nusu1">Std Dev</td>
    <td class="tg-nusu2">{{df['std_dev'] | sdp.pretty_format}}</td>
  </tr>
  <tr>
    <td class="tg-nusu1">Median</td>
    <td class="tg-nusu2">{{df['median'] | sdp.pretty_format}}</td>
    <td></td>
    <td class="tg-nusu1">IQR</td>
    <td class="tg-nusu2">{{df['iqr'] | sdp.pretty_format}}</td>
  </tr>
  <tr>
    <td class="tg-nusu1">95th %</td>
    <td class="tg-nusu2">{{df['pct_95']| sdp.pretty_format}}</td>
    <td></td>
    <td class="tg-nusu1">Med Abs Dev</td>
    <td class="tg-nusu2">{{df['mad']| sdp.pretty_format}}</td>
  </tr>
</tbody>
</table>