<!-- https://www.tablesgenerator.com/html_tables# -->
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:2px 2px;
  word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:2px 2px;word-break:normal;}
.tg .tg-3z1b{border-color:#000000;font-weight:bold;text-align:right;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-3z1b">5th %</td>
    <td class="tg-73oq">{{df['pct_5']}}</td>
    <td class="tg-73oq">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td class="tg-3z1b">CV</td>
    <td class="tg-73oq">{{df['cv']}}</td>
  </tr>
  <tr>
    <td class="tg-3z1b">Mean</td>
    <td class="tg-73oq">{{df['mean']}}</td>
    <td class="tg-73oq"></td>
    <td class="tg-3z1b">Std Dev</td>
    <td class="tg-73oq">{{df['std_dev']}}</td>
  </tr>
  <tr>
    <td class="tg-3z1b">Median</td>
    <td class="tg-73oq">{{df['median']}}</td>
    <td class="tg-73oq"></td>
    <td class="tg-3z1b">IQR</td>
    <td class="tg-73oq">{{df['iqr']}}</td>
  </tr>
  <tr>
    <td class="tg-3z1b">95th %</td>
    <td class="tg-73oq">{{df['pct_95']}}</td>
    <td class="tg-73oq"></td>
    <td class="tg-3z1b">Med Abs Dev</td>
    <td class="tg-73oq">{{df['mad']}}</td>
  </tr>
</tbody>
</table>