<!-- https://www.tablesgenerator.com/html_tables# -->
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:2px 2px;
  word-break:normal;}
.tg .tg-ousu1{border-color:#FF0000;font-weight:bold;text-align:right;vertical-align:top;width: 120px;}
.tg .tg-ousu2{border-color:#FFFF00;text-align:right;vertical-align:top;}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-ousu1">Outlier floor</td>
    <td class="tg-ousu2">{{df['outlier_floor'] | sdp.pretty_format}}</td>
    <td style="width: 50px"></td>
    <td class="tg-ousu1">Out. floor %tile</td>
    <td class="tg-ousu2">{{df['outlier_floor_pct'] | sdp.pretty_format}}</td>
  </tr>
  <tr>
    <td class="tg-ousu1">Outlier ceiling</td>
    <td class="tg-ousu2">{{df['outlier_ceiling'] | sdp.pretty_format}}</td>
    <td></td>
    <td class="tg-ousu1">Out. ceiling %tile</td>
    <td class="tg-ousu2">{{df['outlier_ceiling_pct'] | sdp.pretty_format}}</td>
  </tr>
  <tr>
    <td class="tg-ousu1"></td>
    <td class="tg-ousu2"></td>
    <td></td>
    <td class="tg-ousu1"></td>
    <td class="tg-ousu2"></td>
  </tr>
  <tr>
    <td class="tg-ousu1">Outliers</td>
    <td class="tg-ousu2">{{df['outliers'] | sdp.pretty_format}}</td>
    <td></td>
    <td class="tg-ousu1">Outlier ratio</td>
    <td class="tg-ousu2">{{df['outlier_ratio'] | sdp.pretty_format}}</td>
  </tr>
</tbody>
</table>