<!-- https://www.tablesgenerator.com/html_tables# -->
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:2px 2px;
  word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:2px 2px;word-break:normal;}
.tg .tg-bceo{border-color:#000000;font-weight:bold;text-align:right;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-bceo">Outlier floor</td>
    <td class="tg-73oq">{{df['outlier_floor']}}</td>
    <td class="tg-73oq">     </td>
    <td class="tg-bceo">Out. floor %tile</td>
    <td class="tg-73oq">{{df['outlier_floor_pct']}}</td>
  </tr>
  <tr>
    <td class="tg-bceo">Outlier ceiling</td>
    <td class="tg-73oq">{{df['outlier_ceiling']}}</td>
    <td class="tg-73oq"></td>
    <td class="tg-bceo">Out. ceiling %tile</td>
    <td class="tg-73oq">{{df['outlier_ceiling_pct']}}</td>
  </tr>
  <tr>
    <td class="tg-bceo"></td>
    <td class="tg-73oq"></td>
    <td class="tg-73oq"></td>
    <td class="tg-bceo"></td>
    <td class="tg-73oq"></td>
  </tr>
  <tr>
    <td class="tg-bceo">Outliers</td>
    <td class="tg-73oq">{{df['outliers']}}</td>
    <td class="tg-73oq"></td>
    <td class="tg-bceo">Outlier ratio</td>
    <td class="tg-73oq">{{df['outlier_ratio']}}</td>
  </tr>
</tbody>
</table>